<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>P300-speller</title>
		 <link rel="shortcut icon" type="image/x-icon" href="brain.ico" />
		<link href="/css/custom.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
	</head>
	
	<body class="container mt-3" >
	<div class="row">
		<div class="col-md-6 col-sm-12 mb-3"  id="speller_matrix">
			<button id="start1" class="btn btn-outline-primary dis" style="visibility: hidden">Start</button>
			<button id="start2" class="btn btn-outline-primary dis" style="visibility: hidden">Start</button>
			<button id="start3" class="btn btn-outline-primary dis" style="visibility: hidden">Start</button>
			<button id="start4" class="btn btn-outline-primary dis" style="visibility: hidden">Start</button>
			<button id="start5" class="btn btn-outline-primary dis" style="visibility: hidden">Start</button>
			<button id="start6" class="btn btn-outline-primary dis" style="visibility: hidden">Start</button>
			<button id="start7" class="btn btn-outline-primary dis" style="visibility: hidden">Start</button>
			<button id="start8" class="btn btn-outline-primary dis" style="visibility: hidden">Start</button>
	
	<table style="margin-left:250px;">
		<colgroup>
			<col class="a9">
			<col class="a10">
			<col class="a11">
			<col class="a12">
			<col class="a13">
			<col class="a14">
			<col class="a15">
			<col class="a16">
		</colgroup>
		<tr class="a1">
			<td class="5 1 11" id="अ">अ</td>
			<td class="6 1 12" id="आ">आ</td> 
			<td class="7 1 13" id="इ">इ</td>
			<td class="8 1 14" id="ई">ई	</td>
			<td class="9 1 15" id="उ">उ</td> 
			<td class="10 1 16" id="ऊ">ऊ</td>
			<td class="11 1 17" id="ऋ">ऋ</td>
			<td class="12 1 18" id="ए">ए</td> 
		</tr>

		<tr class="a2">
			<td class="5 2 19" id="ऐ">ऐ</td>
			<td class="6 2 20" id="ओ">ओ</td> 
			<td class="7 2 21" id="औ">औ</td>
			<td class="8 2 22" id="अं">अं</td>
			<td class="9 2 23" id="अः">अः</td> 
			<td class="10 2 24" id="क">क</td>
			<td class="11 2 25" id="ख">ख</td> 
			<td class="12 2 26" id="ग">ग</td>
		</tr>
	
		<tr class="a3">
			<td class="5 3 27" id="घ">घ	</td>
			<td class="6 3 28" id="ङ">ङ	</td>
			<td class="7 3 29" id="च">च</td> 
			<td class="8 3 30" id="छ">छ</td>
			<td class="9 3 31" id="ज">ज</td>
			<td class="10 3 32" id="झ">झ</td>
			<td class="11 3 33" id="ञ">ञ</td>
			<td class="12 3 34" id="ट">ट</td>
		</tr>
		
		<tr class="a4">
			<td class="5 4 35" id="ठ">ठ</td>
			<td class="6 4 36" id="ड">ड</td> 
			<td class="7 4 37" id="ढ">ढ</td>
			<td class="8 4 38" id="ण">ण</td>
			<td class="9 4 39" id="त">त</td> 
			<td class="10 4 40" id="थ">थ</td>
			<td class="11 4 41" id="द">द</td>
			<td class="12 4 42" id="ध">ध</td>
		</tr>	

		<tr class="a5">
			<td class="5 5 43" id="न">न</td>
			<td class="6 5 44" id="प">प</td>
			<td class="7 5 45" id="फ">फ</td>
			<td class="8 5 46" id="ब">ब</td>
			<td class="9 5 47" id="भ">भ</td>
			<td class="10 5 48" id="म">म</td>
			<td class="11 5 49" id="य">य</td>
			<td class="12 5 50" id="र">र</td>
		</tr>	

		<tr class="a6">
			<td class="5 6 51" id="ल">ल</td>
			<td class="6 6 52" id="ळ">ळ</td>
			<td class="7 6 53" id="व">व</td>
			<td class="8 6 54" id="श">श</td>
			<td class="9 6 55" id="ष">ष</td>
			<td class="10 6 56" id="स">	स</td>
			<td class="11 6 57" id="ह">ह</td>
			<td class="12 6 58" id="क्ष">क्ष</td>
		</tr>

		<tr class="a7">
			<td class="5 7 59" id="त्र">त्र</td>
			<td class="6 7 60" id="ज्ञ">ज्ञ</td>
			<td class="7 7 61" id="०">०</td>
			<td class="8 7 62" id="१">१</td>
			<td class="9 7 63" id="२">२</td>
			<td class="10 7 64" id="३">	३</td>
			<td class="11 7 65" id="४">४</td>
			<td class="12 7 60" id="५">५</td>
		</tr>

		<tr class="a8">
			<td class="5 7 59" id="६">६</td>
			<td class="6 7 60" id="७">७</td>
			<td class="7 7 61" id="८">८</td>
			<td class="8 7 62" id="९">९</td>
			<td class="9 7 63" id="hash">#</td>
			<td class="10 7 64" id="line">|</td>
			<td class="11 7 65" id="ques">?</td>
			<td class="12 7 60" id="colon">:</td>
		</tr>

		<tr class="a8">
			<td class="5 7 59" id="colon">:</td>
			<td class="6 7 60" id="period">.</td>
			<td class="7 7 61" id="exclaim">!</td>
			<td class="8 7 62" id="percent">%</td>
			<td class="9 7 63" id="semicolon">;</td>
			<td class="10 7 64" id="bk"><img src="/img/back.png" height="100" width="100"></td>
			<td class="11 7 65" id="dl"><img src="/img/delete.png" height="100" width="100"></td>
			<td class="12 7 60" id="sp"><img src="/img/stop.png" height="100" width="100"></td>
		</tr>




		

	</table>
	
	</div>
	</div>

	
		<p class="mt-2">Start Time:<span id="time"></span></p>
		<p class="d-none ">First Stimulus:<span id="f_s"></span></p>
		<button  style="margin-top: 10px;" class="btn btn-outline-success mt-1" id="showData">Show selected numbers</button>
		<button  style="margin-top: 10px;" class="btn btn-success mt-1 dis" id="showTime">Show time of stimuli</button>
		<div class="numbers">
		<p id="data" class="mt showMe"></p>
		</div>
		<div class="numbers">
		<p id="data_time" class="mt showMe"></p>
		

	

		</div>

	



		
				

		


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<script src="download.js"></script>
	<script src="hindiFunctions1.js"></script>
	<script src="hindiFunctions2.js"></script>
	<script src="hindiFunctions3.js"></script>
	<script src="hindiFunctions4.js"></script>
	<script src="hindiFunctions5.js"></script>
	<script src="hindiFunctions6.js"></script>
	<script src="hindiFunctions7.js"></script>
	<script src="hindiFunctions8.js"></script>
	<script type="text/javascript">
	   $(document).ready(function(){
			if(sessionStorage.getItem("firstProtocol") == "true"){
				document.getElementById("start1").style.visibility = "visible";

			}else if(sessionStorage.getItem("secondProtocol") == "true"){
				document.getElementById("start2").style.visibility = "visible";

			}else if(sessionStorage.getItem("thirdProtocol") == "true"){
				document.getElementById("start3").style.visibility = "visible";

			}else if(sessionStorage.getItem("fourthProtocol") == "true"){
				document.getElementById("start4").style.visibility = "visible";

			}else if(sessionStorage.getItem("fifthProtocol") == "true"){
				document.getElementById("start5").style.visibility = "visible";

			}else if(sessionStorage.getItem("sixthProtocol") == "true"){
				document.getElementById("start6").style.visibility = "visible";

			}else if(sessionStorage.getItem("seventhProtocol") == "true"){
				document.getElementById("start7").style.visibility = "visible";

			}else if(sessionStorage.getItem("eighthProtocol") == "true"){
				console.log("yo")
				document.getElementById("start8").style.visibility = "visible";

			}
		})
	</script>
	  	

	</body>

	<style>
		body {
		  background-image: url('/img/brain2.jpg');
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-size: cover;
		  background-position: right;
		}
		table, tr, td {
  border: 1px solid white;
  border-radius: 10px;
}
	
		</style>
</html>
