<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>P300-speller</title>
		 <link rel="shortcut icon" type="image/x-icon" href="brain.ico" />
		<link href="/css/custom.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
	</head>


<body class="container mt-3" >
	<script>
		window.onload(){
			console.log(sessionStorage.getItem('firstProtocol'));
			console.log(sessionStorage.getItem('secondProtocol'));
			document.getElementById('start1').style.display = "none";
			document.getElementById('start2').style.display = "none";
				 if(sessionStorage.getItem('firstProtocol')){
					console.log("in 1");
				 	document.getElementById('start1').style.display = "block";
					
				 }
				 else if(sessionStorage.getItem('secondProtocol'))
				 {
					console.log("in 2");
				 	document.getElementById('start2').style.display = "block";
				 	
				 }

		}
		
	</script>
<div class="row">
	<div class="col-md-6 col-sm-12 mb-3"  id="speller_matrix">
		<button class="btn btn-outline-primary dis" id="start1">Start</button>
		<button class="btn btn-outline-primary dis" id="start2">Start</button>


<table>
		<colgroup>
			<col class="a5">
			<col class="a6">
			<col class="a7">
			<col class="a8">
			<col class="a9">
		</colgroup>
		<tr class="a1">
			<td class="5 1 11" id="A">A</td>
			<td class="6 1 12" id="B">B</td> 
			<td class="7 1 13" id="C">C</td>
			<td class="8 1 14" id="D">D</td>
			<td class="9 1 15" id="E">E</td> 
		</tr>
  
		<tr class="a2">
			<td class="5 2 16" id="F">F</td>
			<td class="6 2 17" id="G">G</td>
			<td class="7 2 18" id="H">H</td> 
			<td class="8 2 19" id="I">I</td>
			<td class="9 2 20" id="J">J</td>
		</tr>
	
		<tr class="a3">
			<td class="5 3 21" id="K">K</td> 
			<td class="6 3 22" id="L">L</td>
			<td class="7 3 23" id="M">M</td>
			<td class="8 3 24" id="N">N</td> 
			<td class="9 3 25" id="O">O</td>
		</tr>
		
		<tr class="a4">
			<td class="5 4 26" id="P">P</td>
			<td class="6 4 27" id="Q">Q</td>
			<td class="7 4 28" id="R">R</td>
			<td class="8 4 29" id="S">S</td>
			<td class="9 4 30" id="T">T</td>
		</tr>	

		<tr class="a5">
			<td class="5 5 31" id="U">U</td>
			<td class="6 5 32" id="V">V</td>
			<td class="7 5 33" id="W">W</td>
			<td class="8 5 34" id="X">X</td>
			<td class="9 5 35" id="Y">Y</td>
		</tr>
		
		<tr class="a6">
			<td class="5 6 36" id="Z">Z</td>
			<td class="6 6 37" id="0">0</td>
			<td class="7 6 37" id="1">1</td>
			<td class="8 6 38" id="2">2</td>
			<td class="9 6 39" id="3">3</td>
			
		</tr>	

		<tr class="a7">
			<td class="5 7 40" id="4">4</td>
			<td class="6 7 41" id="5">5</td>
			<td class="7 7 42" id="6">6</td>
			<td class="8 7 43" id="7">7</td>
			<td class="9 7 44" id="8">8</td>
		</tr>	

		<tr class="a8">
			<td class="5 8 45" id="9">4</td>
			<td class="6 8 46" id="?">5</td>
			<td class="7 8 47" id=":">6</td>
			<td class="8 8 48" id=",">7</td>
			<td class="9 8 49" id=".">8</td>
		</tr>

		

	</table>
	
	</div>
	
	</div>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    

    <script src="functions1.js"></script>
	<script src="functions2.js"></script>
	<script src="functions3.js"></script>
	<script src="functions4.js"></script>
	<script src="functions5.js"></script>
	<script src="functions6.js"></script>
	<script src="functions7.js"></script>
	<script src="functions8.js"></script>
	<script src="download.js"></script>

</body>
</html>