<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>P300-speller</title>
		 <link rel="shortcut icon" type="image/x-icon" href="brain.ico" />
		<link href="/css/custom.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
	</head>

	<body class="container mt-3">
		
		<script>
			var firstProtocol = false;
			var secondProtocol = false;
			var thirdProtocol = false;
			var fourthProtocol = false;
			var fifthProtocol = false;
			var sixthProtocol = false;
			var seventhProtocol = false;
			var eighthProtocol = false;
		</script>


	<div class="col-md-6 col-sm-12">
	<div class="n_t">
	<label for="trials" style="font-size: larger; font-family: cursive; color:black; font-size: 20px;">Enter the number of trials, please!</label>
	<select name="select" id="number_of_trials">
	<option value="2">2</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10" selected>10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="25">25</option>
	<option value="30">30</option>
	</select>
	</div>
	<div class="d_s">
	<label for="trials" style="font-size: larger; font-family: cursive; color:black; font-size: 19px;">Choose the value of stimulation frequency, please!</label>
	<select name="select" id="duration_of_stimulus">
	<option value="980">1 Hz</option>
	<option value="480">2 Hz</option>
	<option value="313">3 Hz</option>
	<option value="230" selected>4 Hz</option>
	<option value="180">5 Hz</option>
	</select>

	</div>
	<div class="d_s">
	<label for="trials" style="font-size: larger; font-family: cursive; color:black; font-size: 20px;">Choose the color of stimulus, please!</label>
	<select name="select" id="s-color">
	<option value="blue">blue</option>
	<option value="white" selected>white</option>
	<option value="red">red</option>
	<option value="green">green</option>
	<option value="yellow">yellow</option>
	</select>
	</div>
	<div class="b_s">
		<button class="btn btn-outline-primary dis" onclick="firstProtocol = true" style="color: black;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">First Protocol</button>
		<button class="btn btn-primary dis" onclick="secondProtocol = true" style="color: black;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Second Protocol</button>
	<div class="mt" style="font-size: larger; font-family: cursive; color:black; font-size: 20px;">For random order flashing of rows/columns or letters  use the protocols below</div>
	<div class="mt">
		<button class="btn btn-outline-primary dis" onclick="thirdProtocol = true" style="color: black;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Third Protocol</button>
		<button class="btn btn-primary dis" onclick="fourthProtocol = true" style="color: black;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Fourth Protocol</button>
	</div>
	<div class="mt" style="font-size: larger; font-family: cursive; color:black; font-size: 20px; ">For background flashing of rows/columns or letters use the protocols below</div>
	<div class="mt">
		<button class="btn btn-outline-primary dis" onclick="fifthProtocol = true" style="color: black;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">fifth Protocol</button>
		<button class="btn btn-primary dis" onclick="sixthProtocol = true" style="color: black;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">sixth Protocol</button>
	</div>
	<div class="mt">
		<button class="btn btn-outline-primary dis" onclick="seventhProtocol = true" style="color: black;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">seventh Protocol</button>
		<button class="btn btn-primary dis" onclick="eighthProtocol = true" style="color: black;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">eighth Protocol</button>
	</div>
		


		<button class="btn btn-outline-success mt-2" id="showDoc" >Show documentation</button>
		<div class="numbers">
		<div id="doc" class="mt showMe">
		<ul>For the first, third, fifth and seventh protocols ...
			<li>1 = first row</li>
			<li>2 = second row</li>
			<li>3 = third row</li>
			<li>4 = fourth row</li>
			<li>5 = fifth row</li>
			<li>6 = first column</li>
			<li>7 = second column</li>
			<li>8 = third column</li>
			<li>9 = fourth column</li>
			<li>10 = fifth column</li>
		</ul>
		<ul>For the second, fourth, sixth and eighth protocols ...
			<li>We start counting from the letter A (number 1) to the letter Y (number 25)</li>
		</ul>
		</div>
		</div>
	</div>
	</div>
		</div>

		<div>
			<!-- <a href="/english">Go to matrix</a> -->
			<button   style="margin-top: 20px;  background-color: transparent;box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); cursor: pointer; width:300px;height: 80px; font-size: 30px; font-family: fantasy;" onclick="
				sessionStorage.setItem('number_of_trials', $('#number_of_trials').val());
				console.log($('#duration_of_stimulus').val());
				sessionStorage.setItem('duration_of_stimulus',$('#duration_of_stimulus').val());
				sessionStorage.setItem('s-color',  $('#s-color').val());
				sessionStorage.setItem('firstProtocol', firstProtocol);
				sessionStorage.setItem('secondProtocol', secondProtocol);
				sessionStorage.setItem('thirdProtocol', thirdProtocol);
				sessionStorage.setItem('fourthProtocol', fourthProtocol);
				sessionStorage.setItem('fifthProtocol', fifthProtocol);
				sessionStorage.setItem('sixthProtocol', sixthProtocol);
				sessionStorage.setItem('seventhProtocol', seventhProtocol);
				sessionStorage.setItem('eighthProtocol', eighthProtocol);

				window.open('/english', '_self');
			">Go To English Matrix</button>
		</div>

		<div>
			<!-- <a href="/english">Go to matrix</a> -->
			<button   style="margin-top: 10px;  background-color: transparent;box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); cursor: pointer; width:300px;height: 80px; font-size: 30px; font-family: fantasy;" onclick="
				sessionStorage.setItem('number_of_trials', $('#number_of_trials').val());
				console.log($('#duration_of_stimulus').val());
				sessionStorage.setItem('duration_of_stimulus',$('#duration_of_stimulus').val());
				sessionStorage.setItem('s-color',  $('#s-color').val());
				sessionStorage.setItem('firstProtocol', firstProtocol);
				sessionStorage.setItem('secondProtocol', secondProtocol);
				sessionStorage.setItem('thirdProtocol', thirdProtocol);
				sessionStorage.setItem('fourthProtocol', fourthProtocol);
				sessionStorage.setItem('fifthProtocol', fifthProtocol);
				sessionStorage.setItem('sixthProtocol', sixthProtocol);
				sessionStorage.setItem('seventhProtocol', seventhProtocol);
				sessionStorage.setItem('eighthProtocol', eighthProtocol);

				window.open('/devanagri', '_self');
			">Go To Hindi Matrix</button>
		</div>

		<div>
			<!-- <a href="/english">Go to matrix</a> -->
			<button   style="margin-top: 10px;  background-color: transparent;box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); cursor: pointer; width:300px;height: 80px; font-size: 30px; font-family: fantasy;" onclick="
				sessionStorage.setItem('number_of_trials', $('#number_of_trials').val());
				console.log($('#duration_of_stimulus').val());
				sessionStorage.setItem('duration_of_stimulus',$('#duration_of_stimulus').val());
				sessionStorage.setItem('s-color',  $('#s-color').val());

				window.open('/test', '_self');
			">Go To Painting Matrix</button>
		</div>

		




	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>



	<script src="functions1.js"></script>
	<script src="func1.js"></script>
	<script src="functions2.js"></script>
	<script src="functions3.js"></script>
	<script src="functions4.js"></script>
	<script src="functions5.js"></script>
	<script src="functions6.js"></script>
	<script src="functions7.js"></script>
	<script src="functions8.js"></script>
	<script src="download.js"></script>
	<script src="download1.js"></script>


	</body>
	<style>
		body {
		  background-image: url('/img/brain.jpg');
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-size: cover;
		  background-position: right;
		}
		

		</style>
</html>
