.numbers{
	max-width: 400px;
}
#data{
	word-wrap: break-word;
}
#data_time{
	word-wrap: break-word;
}

.btn btn-outline-primary dis
{
	color:purple;
	background-color:purple;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9p purple;
}

.btn btn-outline-success mt-2
{
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color:purple;
	background-color:purple;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9p purple;
}
.btn btn-outline-success mt-2 :hover {background-color:purple}

.btn btn-outline-success mt-2:active {
  background-color: purple;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.showMe{
display: none;
}

.b_s{
	margin-top: 20px;
}

.n_t{
	color:grey;
}


.d_s{
	margin-top: 15px;
	color:grey;
}
button {
	margin-right: 10px;
	padding:6px 10px 6px 10px;
	background-color:purple;
	border-color: purple;
	cursor:pointer;
	border-radius: 10px 10px 10px 10px;
}

.fa{
	margin-right: 40px;
}

.mt{
margin-top: 10px;
}

button:hover {
	background:	none;
}

table {
	color:grey;
	background-color: black !important;
}

td {
	width:130px;
	height:80px;
	font-size:5em;
	text-align: center;
	font-family: Arial;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.red{
	background-color:red;
}
.blue{
	background-color:blue;
}
.green{
	background-color:green;
}
.yellow{
	background-color:yellow;
}

.white{
	background-color:white;
}

.black{
	background-color:black;
}
.container {
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
  }
  .top-wrapper {
	padding: 180px 0 100px 0;
	color: white;
	background-image: url("/img/20191101_012903_0.jpg");
	background-size: cover;
  }
  